.center-container { margin: auto; max-width: 1600px;}
.btn {
  text-transform: uppercase;
}
.btn-danger {
  background: #F718A9;
  text-transform: uppercase;
  color: #FFF;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
.btn-danger:hover {
  background: #F75588;
  color: #EEE;
}
.btn-success {
  background: #00D5B0;

  color: #FFF;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
.btn-success:hover {
  background: #00F1A2;
  color: #EEE;
}
.btn-success:focus, .btn-success:active:focus, .btn-success.active:focus {
  background: #00E1A0;
  color: #EEE;
}
body{
  /*background-color: #512e92;*/

  background: #DD5E89; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #DD5E89 , #F7BB97); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #DD5E89 , #F7BB97); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
td {
  padding: 0px;
}
h1 {
  font-family: 'Raleway';
  font-weight: 400;
  font-size:  100px;
  color: #FFF2FA;
}
h3 {
  font-family: 'Roboto';
  font-weight: 300;
  /*font-style: italic;*/
  color: #FFFFF3;
}
h4{
  color: #FFFFF3;
}
thead {
  font-family: 'Roboto';
  font-weight: 300;
  font-size:  20px;
  color: #FFF2FA;
  font-style: normal;
}
tbody{
  font-family: 'Roboto';
  font-weight: 300;
  color: #FFF2FA;
}
p {
    color: #F3F3F3;
}
.lead{
    font-size: 18px;
}
.thumbnail{
  background:#00D5B0;
  margin: 8px;
  border: 0;
  box-shadow: 0 3px 5px rgba(0,0,0,.25);
}
#thumb{
  margin: 0 4px;
  padding: 15px;
  border-radius: 20px;

}
